{% extends '@App/Admin/layout.html.twig' %}
{% block title %}Visualisation de l'article {% endblock %}
{% block body %}

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">{{ article.title }}</h1>
            <div class="row">
                <div class="col-xs-4">
                    <img class="img-responsive" src="{{image_dir ~ article.image }}" alt="aucune photo disponible">
                    <div>
                        {{ 'publié le ' ~ article.publishedAt.format("d-m-Y")~' à '~ article.publishedAt.format("h:i") }}
                    </div>
                </div>
                <div class="col-xs-8">
                    {{ article.content|markdown }}
                </div>
            </div>
        </div>
    </div>
    {% if article.articles is not empty %}
        <div class="row">
            <h4 class="text-center">Articles associés</h4>
            {% for articleassocie in article.articles %}
                <div class="row">
                    <div style="margin-bottom: 20px;" class="col-xs-6 col-xs-offset-3">
                        <a href="{{ path('one_article', {id:articleassocie.id,menu:articleassocie.menu.title|nice_url, slug: '_'~articleassocie.title|nice_url}) }}">
                            {{ articleassocie.title }}
                        </a>
                    </div>
                </div>
            {% endfor %}
    {% endif %}
{% endblock %}