{% extends'@App/User/layout.html.twig' %}
{% block title %}Visualisation de l'article {% endblock %}
{% block body %}
    <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="text-center">{{ article.title }}</h1>
            <div class="row">
                <div class="col-xs-4">
                    <img class="img-responsive" src="{{image_dir ~ article.image }}" alt="aucune photo disponible">
                    <div>
                        {{ 'publié le ' ~ article.publishedAt.format("d-m-Y")~' à '~ article.publishedAt.format("h:i") }}
                    </div>
                    {% if article.author is not null %}
                        <div>
                            {{ 'créé par '~article.author.username }}
                            {% if article.createdAt %}
                                {{ ' le '~article.createdAt }}
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if article.editor is not null %}
                        <div>
                            {{ 'édité par '~article.editor.username }}
                            {% if article.updatedAt %}
                                {{ ' le '~article.updatedAt }}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div class="col-xs-8">
                    {{ article.content|markdown }}
                </div>
            </div>
        </div>
    </div>
    {% if article.articles is not empty %}
        <div class="row">
            <h4 class="text-center">Articles associés</h4>
            {% for articleassocie in article.articles %}
                <div class="row">
                    <div style="margin-bottom: 20px;" class="col-xs-6 col-xs-offset-3">
                        <a href="{{ path('one_article', {id:articleassocie.id,menu:articleassocie.menu.title|nice_url, slug: '_'~articleassocie.title|nice_url}) }}">
                            {{ articleassocie.title }}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}