<nav class="navbar navbar-default navbar-user">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Le Monde</a>
        </div>
            <ul class="nav navbar-nav">
                {% for menu in getBiggestMenus() %}
                    <li class="{{ isActive(path('articles_by_menu',{id: menu.id, title: menu.title})) }}"><a href="{{ path('articles_by_menu',{id: menu.id, title: menu.title}) }}">{{ menu.title }}</a></li>
                {% endfor %}
            </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Se déconnecter</a></li>
            {% else %}
            <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> Se connecter</a></li>
            <li><a href="{{ path('fos_user_registration_register') }}"><span class="glyphicon glyphicon-log-in"></span> S'inscrire</a></li>
            {% endif %}
        </ul>
    </div>
</nav>